* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", serif;
    color: rgb(72, 72, 72);
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 15px;
    

}

.main h1{
    margin-bottom: 20px;
    font-weight: 500;
}

.main, .intro, .contact-info, footer, .wrap-color{
    background-color: rgb(233, 233, 233);
}

.main a{
    text-decoration: none;
    display: block;
    margin: 5px;
    line-height: 200%;
    font-weight: 400;
    background-color: ghostwhite;
}

.main a:visited {
    color: rgb(72, 72, 72);
}
.main-nav li {
    list-style: none;   
}

.prof-pic, .projects img{
    width: 80%;
    background-size: cover;
    display: block;
    margin: 0 auto;
    padding: 20px 0;
    
}

p{
    padding: 15px;
    font-weight: 300;
}

p, #portfolio, .projects h3, #contact{
    text-align: center;
}

#portfolio, #contact{
    font-size: 1rem;
    text-transform: uppercase;
}

#portfolio{
    padding: 20px;
    margin: 20px;
}

.projects h3{
    font-weight: 500;
}

#contact{
    padding: 20px;
    margin: 70px 20px 0;
}

.contact-info{
    padding-bottom: 50px;
}


footer{
    border-top: 1px solid rgb(193, 191, 191);
    padding: 20px;
    margin: 0 10px;
    font-size: 10px;
    display: flex;
    justify-content: space-between;
    
}

footer a{
    text-decoration: none;
}

footer ul li{
    list-style: none;
    text-transform: uppercase;
}

.full{
    display: none;
}
